  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <form action="/docs/examples/branching/answer" method="post">

        {% call fieldset({
          legend: {
            text: "Do you understand your diagnosis of TB?",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        {{ radios({
          "idPrefix": "know-tb",
          "name": "know-tb",
          "items": [
            {
              "value": "Yes",
              "text": "Yes"
            },
            {
              "value": "No",
              "text": "No"
            }
          ]
        }) }}

        {% endcall %}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

    </div>
  </div>